.table-wrap {
  display: flex;
  justify-content: center;
  flex-direction: column;

  th {
    font-size: 16px;
    text-align: center;
    color: #3f51b5;
  }

  td {
    text-align: center;
  }

  ::ng-deep .mat-sort-header-container {
    justify-content: center;
    left: 10px;
  }
}
